.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--text);
  font-family: monospace;
}

.content-area {
  display: flex;
  flex: 1;
  background-color: var(--bg-main);
}

.main-content {
  flex: 1;
  padding: 2rem;
  font-weight: 500;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
