.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
}

.content-area {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 2rem 3rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}