.header {
  background-color: var(--bg-header);
  padding: 0 2rem;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  font-family: "SFUFuturaExtraBold", sans-serif;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--color-text-primary);
}