@import "./reset.css";
@import "./variables.css";
@import "./fonts.css";

body {
  font-family: var(--font-family-sans);
  background-color: var(--bg-main);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
