MOSQUITTO_DYNSEC_ADMIN_USERNAME=smarthome-admin
MOSQUITTO_DYNSEC_ADMIN_PASSWORD=

MOSQUITTO_BACKEND_USERNAME=smarthome-backend
MOSQUITTO_BACKEND_PASSWORD=

# Optional frontend host port.
SMARTHOME_HTTP_PORT=80
