.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--text);
  font-family: monospace;
}

.content-area {
  display: flex;
  flex: 1;
  background-color: var(--bg-main);
}
