.header {
  background-color: var(--bg-header);
  padding: 1rem 1rem 1rem 3rem;
  border-bottom: 1px solid var(--border);
}

.title {
  font-family: "Futura";
  font-size: xx-large;
  font-weight: 900;
  text-decoration: none;
  color: var(--text);
}
